#wallets-container {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-snap-type: x mandatory;
	margin-bottom: 20px;
}

.wallet-plus div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #f5f5f5;
}

.wallet-plus div:first-child i {
	font-size: 1.3em;
}

#wallets-total-balance {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#wallets-total-balance h1 {
	font-size: 1.1em;
}

#activities-title {
	margin-bottom: 10px;
	font-size: 1.4em;
}

#activities-title h1 {
	font-size: 1.1em;
}
#activities-items {
	display: flex;
	flex-direction: column;
}

#activities-items>h3{
	text-align: center;
}

#activities-items a {
	text-decoration: none;
	color: black;
}

.activities {
	margin: 10px 10px;
	padding-left: 10px;
	display: flex;
}

.activities img {
	height: 70px;
}

.activities .activities-details {
	width: 95%;
}

.activities .activities-total {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

#activity-plus i {
	position: fixed;
	right: 20px;
	bottom: 75px;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7em;
	color: white;
	background-color: green;
	z-index: 2;
}

#overlay {
	position: fixed;
   	top: 0;
   	left: 0;
   	width: 100%;
   	height: 100%;
   	background-color: rgba(0,0,0,0.5);
   	z-index: 999;
}

#dialog {
	max-width: 560px;
	min-width: 260px;
	min-height: 260px;
	width: 80%;
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	z-index: 1000;  
	display: flex;
	flex-direction: column; 
}

#dialog #exit {
	display: flex;
	justify-content: flex-end;
}

#dialog-container {
	display: none;
}











