/* --------------------------------------------------
                      FOOTER 
-------------------------------------------------- */
#page-footer {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	background-color: #f5f5f5;
}

#page-footer a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
}

#page-footer a i {
	font-size: 1.3em;
}

#page-footer a span {
	font-size: 0.8em;
}

#page-footer #middle {
	font-size: 2.5em;
	color: #005e00;
}

/* --------------------------------------------------
                      LOGO
-------------------------------------------------- */
#page-header {
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
}

#page-header h1 {
	text-align: center;
	font-size: 2em;
}


.wallet-card {  	
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	height: 90px;
  	min-width: 300px;
  	padding: 10px;
  	box-sizing: border-box;
  	border-left: 5px solid green;
  	border-radius: 8px;
  	background-color: #f5f5f5;
  	margin-right: 20px;
}

.wallet-card .wallet-card-actions {
	display: flex;
}

.wallet-card .wallet-card-actions i {
	margin-left: 10px;
}

.wallet-card > div:first-child {
	display: flex;
	justify-content: space-between;
}

.wallet-card i {
	margin-right: 10px;
	font-size: 1.3em;
}

.wallet-card .walletDeleteForm button {
	border: none;
	cursor: pointer;
	background-color: #f5f5f5;
}


/*
AQUI
*/

#wallet-form, #activity-form {
	display: flex;
	flex-direction: column;
}

.title h1 {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 10x;
}

.fields {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.fields label {
	font-weight: bold;
}

.fields input {
	border-radius: 4px;
	border-width: 0;
	height: 30px;
	box-shadow: 0px 0px 1px 0px;
	padding: 0 10px;
}

#activity-form input[type="submit"], #wallet-form input[type="submit"] {
	height: 30px;
	color: #fff;
	background-color: #0000bb;
	border-radius: 4px;
	border-width: 0;
	box-shadow: 0px 0px 1px 0px;
	width: 100%;
	cursor: pointer;
}

#activity-form input[type="date"] {
	width: 80%;
	background-color: #fff;
}

.fields .chip {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
	border: 0;
	background-color: #fff;
	cursor: pointer;
	box-shadow: 0px 0px 1px 0px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.fields .chip.selected {
	background-color: #007bff;
	color: #fff;
}

.fields #chip-activity-type, .fields #chip-activity-wallet, .fields #chip-activity-status {
	display: flex;
	flex-wrap: wrap;
}

.fields #radio-activity-type, .fields #radio-activity-wallet, .fields #radio-activity-status {
	display: none;
}


















/*

#wallet-container-card {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-snap-type: x mandatory;
	margin-bottom: 20px;
}

#wallet-container-card .wallet-plus div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #f5f5f5;
}

#wallet-container-card .wallet-plus div:first-child i {
	font-size: 1.3em;
}

#wallet-container-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	z-index: 1000;
	width: 80%;
	max-width: 560px;
}

#wallet-container-form #wallet-container-form-exit {
	display: flex;
	justify-content: flex-end;
}

#wallet-container-form #wallet-container-form-exit i {
	width: 5px;
	height: 5px;
}

#activity-form form {
	display: flex;
	flex-direction: column;
}

#activity-form form #chip-wallet {
	display: flex;
	overflow-x: scroll;
	white-space: nowrap;
	flex-wrap: wrap;
}

#activity-form form .fields {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

#activity-form form label {
	font-weight: bold;
}

#activity-form form input {
	border-radius: 4px;
	border-width: 1px;
	height: 40px;
}

#activity-form form input[type="text"], #activity-form form input[type="number"],
	#activity-form form input[type="date"] {
	padding: 0 20px;
}

#activity-form form input[type="radio"] {
	display: none;
}

#activity-form form button {
	background-color: green;
	color: white;
	cursor: pointer;
	font-weight: bold;
	border-radius: 4px;
	border-width: 1px;
	height: 40px;
	margin-bottom: 10px;
}

.chip {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
}

.chip.selected {
	background-color: #007bff;
	color: #fff;
}

#wallet-form {
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
}

#wallet-form>i {
	margin-bottom: 20px;
	cursor: pointer;
}

#wallet-form form {
	display: flex;
	flex-direction: column;
}

#wallet-form form .fields {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

#wallet-form form label {
	font-weight: bold;
}

#wallet-form form input {
	border-radius: 4px;
	border-width: 1px;
	height: 40px;
}

#wallet-form form input[type="text"], #wallet-form form input[type="number"]
	{
	padding: 0 20px;
}

#wallet-form form input[type="submit"] {
	background-color: green;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

#wallet-form form small {
	color: #ff0000;
}
 
#activity-form form {
	display: flex;
	flex-direction: column;
}

#activity-form form #chip-wallet {
	display: flex;
	overflow-x: scroll;
	white-space: nowrap;
	flex-wrap: wrap;
}

#activity-form form .fields {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

#activity-form form label {
	font-weight: bold;
}

#activity-form form input {
	border-radius: 4px;
	border-width: 1px;
	height: 40px;
}

#activity-form form input[type="text"], #activity-form form input[type="number"],
	#activity-form form input[type="date"] {
	padding: 0 20px;
}

#activity-form form input[type="radio"] {
	display: none;
}

#activity-form form input[type="submit"] {
	background-color: green;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.chip {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
}

.chip.selected {
	background-color: #007bff;
	color: #fff;
}
*/