#wallets-container {
	display: flex;
	flex-direction: column;
}

main>h1 {
	font-size: 1.5em;
}

.wallet {
	height: 60px;
	margin-bottom: 10px;
	background-color: #f3f3f3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	border-radius: 8px;
}

.wallet-description p, .wallet-description p span{
	font-size: 0.8em;
}

.wallet-action i, #wallet-plus i {
	font-size: 1.4em;
	cursor: pointer;
}

#walletDeleteForm button {
	border: none;
}






#wallet-plus {
	width: 60px;
	height: 60px;
	background-color: #e3e3e3;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 20px;
	bottom: 80px;
}


/* 
	Formulário de Criação de Carteira 
*/
