<!DOCTYPE HTML>
<html lang="pt-br">
  <head th:replace="~{base :: head('css/activities.css', 'Lançamentos')}"></head>
  <body>
  	<header th:replace="~{base :: header}"></header>
    <main> 
    	<section id="wallets-container">
   			<div class="wallet" th:each="wallet : ${wallets}">
   				<div class="wallet-details">
   					<div>
   						<div><i class="fa-solid fa-wallet"></i></div>
   						<div><h3 th:text="${wallet.description}"></h3></div>
   					</div>
   					<i class="fa-solid fa-eye"></i>
   				</div>
   				<br />
   				<div>
   					<p>Saldo em carteira</p>
   					<b>
   						<span th:text="${#numbers.formatCurrency(wallet.balance)}">0,0</span>
   					</b>
   					
   				</div>
				<div>
				</div>
		   	</div>
    	</section>
		
		<section id="activities-container">
			<div id="activities-header">
				<h1>Lançamentos</h1>
			</div>
			<div id="activities-items" th:each="activity, index : ${activities}">
				<h3 th:if="${index.index == 0 or #arrays.isEmpty(activities) or activity.effectiveDate != activities[index.index - 1].effectiveDate}"  th:text="${#dates.format(activity.effectiveDate, 'dd/MM/yyyy')}"></h3>
				<a th:href="@{activities/detail/} + ${activity.id}">
					<div class="activities">
						
							<div>
								<img th:if="${activity.status.ordinal == 0 and activity.effectiveDate < (T(java.util.Calendar).getInstance().time)}" src="img/pendency_time_line.png" alt="pendency time line" />
								<img th:if="${activity.status.ordinal == 1 and activity.type.ordinal == 1}" src="img/out_time_line.png" alt="out time line" />
								<img th:if="${activity.status.ordinal == 1 and activity.type.ordinal == 0}" src="img/in_time_line.png" alt="in time line" />
								<img th:if="${activity.status.ordinal == 0 and activity.effectiveDate > (T(java.util.Calendar).getInstance().time)}" src="img/waiting_time_line.png" alt="waiting time line" />
							</div>		
							<div class="activities-details">
								<h3 th:text="${activity.description}"></h3>
								<p th:text="${activity.wallet.description}"></p>
								<div class="activities-total">
									<p>Total</p>
									<p> 
										<span th:if="${activity.type.ordinal == 0}">+</span> 
										<span th:if="${activity.type.ordinal == 1}">-</span> 
										<span th:text="${#numbers.formatCurrency(activity.value)}"></span> 
									</p>
								</div>
							</div>	
						
												
					</div>
				</a>
			</div>	
		</section>	
    </main>
    <footer th:replace="~{base :: footer}"></footer> 
  </body>
</html>

