<head th:fragment="head(ulrCssPagina, title)">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/} + ${ulrCssPagina}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">	
	<script src="https://kit.fontawesome.com/63f7b676c0.js" crossorigin="anonymous"></script>	
	<script th:src="@{/resources/js/base.js}"></script>
	<title th:text="${title}"></title>
</head>

<header th:fragment="logo">
  	<h1>Logo</h1>
</header>
  	
<footer th:fragment="footer">
	<a href="#">
		<i class="fa-solid fa-home" aria-hidden="true"></i>
		<span>Início</span>
	</a>
	<a href="/wallets">
		<i class="fa-solid fa-wallet"></i>
		<span>Carteiras</span>
	</a>
	<a href="/activities">
		<i id="middle" class="fa-solid fa-money-bill"></i>
		<span>Lançamentos</span>
	</a>
	<a href="#">
		<i class="fa-solid fa-user"></i>
		<span>Perfil</span>
	</a>
	<a href="#">
		<i class="fa-solid fa-right-from-bracket"></i>
		<span>Sair</span>
	</a>  			
</footer>

