<head th:fragment="head(ulrCssPagina, title)">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" th:href="@{/} + ${ulrCssPagina}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">	
	<script src="https://kit.fontawesome.com/63f7b676c0.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/fragments.js"></script>
	<title th:text="${title}"></title>
</head>

<div th:fragment="page-header">
	<header id="page-header">
		<h1>Logo</h1>
	</header>  	
</div>

<div th:fragment="page-footer">
	<footer id="page-footer">
		<a href="#">
			<i class="fa-solid fa-home"></i>
			<span>Início</span>
		</a>
		<a href="#">
			<i class="fa-solid fa-wallet"></i>
			<span>Carteiras</span>
		</a>
		<a href="/activities">
			<i id="middle" class="fa-solid fa-money-bill"></i>
			<span>Movimentações</span>
		</a>
		<a href="#">
			<i class="fa-solid fa-user"></i>
			<span>Perfil</span>
		</a>
		<a href="#">
			<i class="fa-solid fa-right-from-bracket"></i>
			<span>Sair</span>
		</a>  			
	</footer>
</div>

<div th:fragment="wallet-card(wallet)">
	<div class="wallet-card">
		<div>
			<div>
				<i class="fa-solid fa-wallet"></i>
 				<span>
 					<b th:text="${wallet.description}"></b>
 				</span>
 			</div>
 			<div class="wallet-card-actions">
 				<i class="fa-solid fa-eye"></i>
 				<form class="walletDeleteForm" th:action="@{/wallets/delete}" method="POST">
    				<input type="hidden" name="id" id="id" th:value="${wallet.id}" />
    				<button type="submit">
    					<i class="fa fa-trash" th:onclick="walletDeleteForm.submit()"></i> 
    				</button>
    				
    			</form>  
 			</div>
		</div>
		<div>
			<p>Saldo em carteira</p>
   			<p>
   				<b th:text="${#numbers.formatCurrency(wallet.balance)}"></b>
   			</p>  
		</div> 					
   	</div>
</div>

<div th:fragment="wallet-form">
	<form id="wallet-form" action="/wallets/create" method="POST">
		<div class="title">
			<h1>Adicionar Carteira</h1>
		</div>
		<div class="fields">
			<label for="wallet-description">Descrição</label>
			<input type="text" id="wallet-description" name="description" placeholder="Ex: Dinheiro"/>
		</div>
		<div class="fields">
			<label for="wallet-balance">Saldo</label>
			<input type="number" step="0.01" min="0.01" id="wallet-balance" name="balance" placeholder="Ex: 250,00" />
		</div>    			
		<input type="submit" value="Criar" />
	</form>
</div>

<div th:fragment="activity-form(wallets)">
	<form id="activity-form" action="/activities/create" method="post">
		<div class="title">
			<h1>Adicionar Atividades</h1>
		</div>
		<div class="fields">
			<label for="activity-type">Tipo: </label>
			<div id="chip-activity-type">
				<span class="chip" onclick="selectChip(this, 'activity-type-0')">Entrada</span>
				<span class="chip" onclick="selectChip(this, 'activity-type-1')">Saída</span>
			</div>
			<div id="radio-activity-type">
				<input type="radio" id="activity-type-0" name="type" value="0">
				<input type="radio" id="activity-type-1" name="type" value="1">
			</div>			
		</div>
		<div class="fields">
			<label for="activity-description">Descrição:</label>
			<input type="text" name="description" id="activity-description" placeholder="Ex: Aluguel fevereiro">
		</div>
		<div class="fields">
			<label for="activity-value">Valor:</label>
			<input type="number" step="0.01" min="0.01" name="value" id="activity-value" placeholder="Ex: 1200,00">
		</div>
		<div class="fields">
			<label for="activity-wallet">Carteira:</label>
			<div id="chip-activity-wallet">
				<span class="chip" th:each="wallet : ${wallets}" th:text="${wallet.description}" th:onclick="selectChip(this, 'activity-wallet-[[${wallet.id}]]')"></span>
			</div>	
			<div id="radio-activity-wallet">
				<input type="radio" th:each="wallet : ${wallets}" th:id="'activity-wallet-' + ${wallet.id}" name="walletId" th:value="${wallet.id}">
			</div>
		</div>
		<div class="fields">
			<label for="activity-date">Data:</label>
			<input type="date" name="date" id="activity-date" placeholder="dd/mm/aaaa">
		</div>
		<div class="fields">
			<label for="activity-status">Situação:</label>
			<div id="chip-activity-status">
				<span class="chip" onclick="selectChip(this, 'activity-status-0')">Pendente</span>
				<span class="chip" onclick="selectChip(this, 'activity-status-1')">Efetuado</span>
			</div>	
			<div id="radio-activity-status">
				<input type="radio" id="activity-status-0" name="status" value="0">
				<input type="radio" id="activity-status-1" name="status" value="1">
			</div>			
		</div>
		<input type="submit" value="Lançar" />
	</form>
</div>



