<!DOCTYPE HTML>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{base :: head('css/wallets.css', 'Carteiras')}"></head>
  <body>
  	<header th:replace="~{base :: header}"></header>
    <main> 
    	
    	<section id="wallet-form">
    		<form action="/wallets/create" method="POST">
    			<div class="campos">
    				<label for="description">Descrição</label>
	    			<input type="text" id="description" name="description" placeholder="Ex: Dinheiro"/>
    			</div>
    			<div class="campos">
    				<label for="balance">Saldo</label>
	    			<input type="number" id="balance" name="balance" placeholder="Ex: 300.00" />
    			</div>    			
    			<input type="submit" value="Criar" />
    		</form>
    	</section> 	
    	<h1>Carteiras</h1>
    	<section id="wallets-container">    
    		<div th:if="${wallets.isEmpty}">
    			<p>Você não possui nenhuma carteira</p>
    		</div>
    		<div class="wallet" th:each="wallet : ${wallets}">
	    		<div class="wallet-description">
	    			<h1 th:text="${wallet.description}">Dinheiro</h1>
	    			<div>
	    				<span>R$</span> <span th:text="${wallet.balance}">0,00</span>
	    			</div>
	    		</div>
	    		<div class="wallet-action">  
	    			<form id="walletDeleteForm" action="/wallets/delete" method="POST">
	    				<input type="hidden" name="id" id="id" th:value="${wallet.id}" />
	    				<button type="submit">
	    					<i class="fa fa-trash" th:onclick="walletDeleteForm.submit()"></i> 
	    				</button>
	    				
	    			</form>  			
	    			  			
	    		</div>	    		
	    	</div>
    	</section>    	
    	
    </main>  
    <footer th:replace="~{base :: footer}"></footer> 
  </body>
</html>

